<section class="search-text">
  <form class="container-keyword">
    <mat-form-field class="keyword-input" appearance="fill">
      <mat-label>State</mat-label>
      <input
        matInput
        aria-label="State"
        [matAutocomplete]="auto"
        [formControl]="queryField"
        (keypress.enter)="onChangeText()"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let result of results | async"
          [value]="
            result.name +
            ' ' +
            result.totalPrice +
            ' ' +
            result.creditCard +
            ' ' +
            result.retailType +
            ' ' +
            result.creditCard
          "
        >
          <span>
            <strong>{{ result.name }}</strong> |
          </span>
          <small><strong>Total</strong>: {{ result.totalPrice }}</small> ,
          <small><strong>Credit Card</strong>: {{ result.creditCard }}</small> ,
          <span class="retail-tags">
            <small> {{ result.retailType }}</small> ,
            <small> {{ result.retailCategory }}</small>
          </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</section>
