<div class="custom-aggregate-banks">
  <!-- *ngIf="this.creditCardsReady" -->
  <h2>Search</h2>
  {{ this.totalMatch }}
  {{ this.filterTextOn }}
  <section class="container-search">
    <div class="row">
      <app-search-selector
        class="column"
        [cards]="this.bankCreditCards"
        (onChangeCard)="filter($event, 'selector')"
      >
      </app-search-selector>
      <app-search-text
        class="column-2"
        (onChange)="this.filter($event, 'text')"
      ></app-search-text>
    </div>
  </section>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Graph">
      <ng-container *ngTemplateOutlet="graphBar"></ng-container>
    </mat-tab>
    <mat-tab label="List">
      <ng-container *ngTemplateOutlet="tableRegisters"></ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #graphBar>
    <app-custom-graph-bar
      [dataSource]="this.dataSource"
      [legendTitle]="'Banks'"
      [xAxisLabel]="'Banks'"
      [yAxisLabel]="'Total Value'"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true"
      [roundEdges]="true"
    ></app-custom-graph-bar>
  </ng-template>

  <ng-template #tableRegisters>
    <app-table-registers
      *ngIf="this.bankArray"
      [textSearch]="this.textSearch"
      [dataSource]="this.filterTextOn ? this.bankArrayFiltered : this.bankArray"
    >
    </app-table-registers>
  </ng-template>
</div>
