<div class="custom-graph-bar">
  <h2 *ngIf="!this.loading">Graph</h2>
  <!-- <h4>Posted entries: 3</h4> -->

  <mat-spinner *ngIf="this.loading"></mat-spinner>
  <div class="graph" *ngIf="!this.loading">
    <ngx-charts-bar-vertical
      [view]="view"
      [results]="this.loading ? [] : this._dataSource"
      [legendTitle]="this.legendTitle"
      [xAxisLabel]="this.xAxisLabel"
      [yAxisLabel]="this.yAxisLabel"
      [legend]="this.legend"
      [showXAxisLabel]="this.showXAxisLabel"
      [showYAxisLabel]="this.showYAxisLabel"
      [xAxis]="this.xAxis"
      [yAxis]="this.yAxis"
      [gradient]="this.gradient"
      [roundEdges]="this.roundEdges"
    >
    </ngx-charts-bar-vertical>
  </div>
</div>
